<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/calc" method="POST">
      <div>
        <label for="kml">Consumo por litro:</label>
        <input type="number" name="kml" id="kml" min="0" />
      </div>
      <div>
        <label for="kml">Distância desejada:</label>
        <input type="number" name="dist" id="dist" min="0" />
      </div>
      <div>
        <button>Calcular valor</button>
      </div>
    </form>

    {% if resultado %}
    <p>Resultado da viagem: {{resultado}}</p>
    {% endif%}
  </body>
</html>
